body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background: linear-gradient(to right, red, orange, yellow, green, lightblue, blue, purple);
    color: lightgreen; 
    padding: 15px; 
    font-size: 12pt;
    text-shadow: 10px 6px 3px gray;
}

header:hover {
    color: pink;
    text-decoration: underline;
    background: linear-gradient(to right, blue, white);
    font-size: 20px;
    transition: 300ms;
}

header:active {
    color: red;
    background-color: aliceblue;
}

main {
    margin: 10px 20px;
}

footer {
    background: linear-gradient(to right, red, orange, yellow, green, lightblue, blue, purple);
    color: lightgreen; 
    padding: 15px; 
    font-size: 12pt; 
    font-style: italic; 
    text-align: right;
    text-shadow: 10px 6px 3px gray;
    position: fixed;
    width: 100%;
    bottom: 0%;
    padding: 10px 0px 10px 0px;
    z-index: 99999999999;
}

footer:hover {
    color: pink;
    text-decoration: underline;
    background: linear-gradient(to left, blue, white);
    font-size: 20px;
    transition: 300ms;
}

footer:active {
    color: red;
    background-color: aliceblue;
}

a {
    color: green;
    font-style: italic; 
    text-decoration: none;
    text-shadow: 10px 6px 2px gray;
    transition: 600ms 800ms;
}

a:visited {
    color: blue;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    transition: 300ms;
}

a:active {
    color: pink;
    background-color: blanchedalmond;
}

.shadow {
    text-shadow: 10px 6px 2px gray;
}

.blue-shadow-left {
    text-shadow: -10px 6px blue;
}

.blue-shadow {
    text-shadow: 0px 0px 3px blue;
}

.shadow-header1:hover {
    text-shadow: 15px 10px 4px gray;
    transition: 600ms 800ms;
}

